body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-secundario);
    margin: 0;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh; /* Ocupa toda la altura de la pantalla */
    max-width: 90%; /* Limita el ancho total */
    margin: 0 auto; /* Centra el main */
}

h1 {
    color: var(--color-principal);
    text-align: center;
    margin-bottom: 20px;
}

.perfil {
    background-color: var(--color-acento);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px; /* Limitar el ancho del formulario */
    min-width: 300px; /* Ancho mínimo */
    margin: 0 auto; /* Centra el formulario */
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%; /* Usar todo el ancho disponible */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--color-secundario);
    border-radius: 5px;
}

button {
    background-color: var(--color-principal);
    color: var(--color-fondo);
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Hacer el botón del mismo ancho que el formulario */
    margin-top: 15px; /* Espacio entre botones */
    border-radius: 5px; /* Redondeo consistente */
}

button:hover {
    background-color: var(--color-secundario);
}

